# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://enldrewplcuqzxziyxkg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVubGRyZXdwbGN1cXp4eml5eGtnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTIyNTk3NzMsImV4cCI6MjA2NzgzNTc3M30.f8Zb7DPCOJzlhvmbWs9dbxQX4xnVRnpD9IBd8xxV-Qw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVubGRyZXdwbGN1cXp4eml5eGtnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MjI1OTc3MywiZXhwIjoyMDY3ODM1NzczfQ.zUNR0ToXJReVOR6CGs0tl2Hxt8kxFj_I--tLSVF4Swc

# Resend Email Configuration
RESEND_API_KEY=re_e8TRD6tA_Lk8ehuhRDzzEevFTSxaHV1hv
RESEND_FROM_EMAIL=Hadiaytti <noreply@hadiaytti.com>
RESEND_REPLY_TO_EMAIL=support@hadiaytti.com

# Stripe Configuration
STRIPE_SECRET_KEY=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
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_51LjNTWB9s0mUKJXPE5sN6d7qzN6TTQHAvqUouIxYFTA9eHSnEj0Ast2CWS6oTwEZvDe9D0YmJXcd3inQeKQPownv00uIPN2BR3
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret

# Site Configuration
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Next.js Configuration
NEXTAUTH_SECRET=your_nextauth_secret
NEXTAUTH_URL=http://localhost:3000
